<% layout('template') %>

<div id="no-power">
	
  <h1  class="error-tip color-danger"><span class="glyphicon glyphicon-remove color-danger"></span>不能查看该页面！！！</h1>
  <ol>
  	可能原因：
  	<li>1、没有权限!</li>
  	<li>2、当前阶段没有数据!</li>
  	<li>3、参数错误，获取数据失败!</li>
  </ol>
</div>