<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>tset page </title>
    <link rel="stylesheet" href="../public/stylesheets/public.css">

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="cm的本科生毕业设计进程及文档管理系统">
    <meta name="keywords" content="cm,毕设,毕业设计,文档管理,系统">
  </head>
  
  <style>
    div{
      line-height: 2;
      font-size: 16px;
    }
  </style>

  <body>
  	
  </body>
  <script>
    var a = document.getElementById("a");
    a.addEventListener("click",function(event){
      console.log(this,this.className);
      console.log(event);
      console.log(event.target);
    },false);
  </script>
</html>