<% layout('template') %>

<!-- 提示性文字 -->
<fieldset id="promptText" class="promptText">
  <legend class="color-danger">相关提示</legend>
  <ol>
    <li></li>
  </ol>
</fieldset>

<!-- 进度显示区域 -->
<% include ./included/show_process.ejs%>