.in-detail{
	width: 600px;
	// padding: 20px 0;
	margin: 0 auto;
	border-radius: 10px;
	border: 2px solid @color-warning;
	// .clearfix();

	
	.detail-content{
		padding: 20px;
		// margin-bottom: 20px;
		border-bottom: 2px solid @color-info;
		// .clearfix();
	}

	.detail-title{
		font-size: 16px;
		line-height: 2.4;
	}
	
	.line-height-4{
		line-height: 4!important;
	}
	
	.line{
		position: relative;
		line-height: 2.6;
		label{
			display: inline-block;
			width: 80px;
		}
		input{
			line-height: 2;
			width: 400px;
			border-radius: 5px;
			padding: 0 10px;
		}
		input[readonly='readonly']{
			background: #eee;
		}
	}
	
	.search-user{
		position: absolute;
		z-index: 100;
		width: 400px;
		top: 33px;
		left: 84px;
		display: none;
		border: 1px solid #ccc;
		background: #fafff8;
		p{
			line-height: 2;
			padding: 0 10px;
			border-bottom: 1px solid #ccc;
			cursor: pointer;
			&:hover{
				background: #eee;
			}
		}
		.no-user{
			color:@color-danger;
		}
	}

	.comment-content{
		padding: 20px;
		line-height: 1.4;
		p{
			padding: 10px 0;
		}
		textarea{
			min-height: 100px;
		}
	}
	
	input[type="file"]{
		width: 400px;
		line-height: 2.2;
	}
	.no-file{
		border: 2px solid @color-danger!important;
		border-radius: 5px!important;
	}

	textarea{
		width: 100%;
		min-height: 180px;
		padding: 10px;
		color: #333;
		border-radius: 10px;
		border: 2px solid @color-info;

		font-size: 14px;
		line-height: 1.4;
	}
}

