.publish-container{
	width: 600px;
	margin: 20px auto;
	padding: 20px 0;

	.line{
		padding: .5rem 0;

		label{
			width: 120px;
		}
		input{
			width: 450px;
		}
		select{
			width: 160px;
			height: 30px;
			option{
				height: 24px;
				cursor: pointer;
			}
		}
		label,input,select,option{
			line-height: 2;
		}
	}
}
