@import url("variable.less");
@import url("glyphicons.less");
@import url("function.less");

@import url("buttons.less");
@import url("progress_button.less");

@import url("header.less");

@import url("nav.less");
@import url("show_area.less");

@import url("detail.less");

@import url("publish_project.less");

@import url("choose_state.less");


@import url("dialog.less");

@import url("score_area.less");

@import url("modify_pwd.less");


/* this is common css */
html{
	font-size: 10px;
}
html,body{
	width: 100%;
	height: 100%;
	font-family: @font-family-base;
}

html,body,header,nav,article,
section,aside,footer,
div,p,h1,h2,h3,h4,h5,h6,
ul,ol,li,dl,dd,dt,
button,img,a,label,
form,input,textarea,
table,thead,tbody,tfoot,tr,th,td{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a{
	color: @color-block;
	text-decoration: none;
}
ul,ol,dl{
	list-style-type: none;
}

/* this is public class */
#header,#article,#footer{
	width: 100%;
	min-width: @max_width;
	.clearfix();
}

.container{
	position: relative;
	width: @max_width;
	height: 100%;
	margin: 0 auto;
	.clearfix();
}

#no-power{
	width: 100%;
	height: 100%;

	.error-tip{
		text-align: center;
		margin-top: 50px;
		font-size: 48px;
	}
	ol{
		line-height: 2.4;
	}
}

#footer{
	background: @color-success;
}
