<div id="animateDialog" class="animateDialog btn-default">
  <div class="dialogTips">
    <h3 class="success color-success"><span class="glyphicon glyphicon-ok"></span>操作成功</h3>
    <h3 class="fail color-danger"><span class="glyphicon glyphicon-remove"></span> 操作失败,请稍后再试</h3>
  </div>
  <div class="dialogOptions">
    <button class="btn btn-block btn-danger close-btn">知道了</button>
  </div>
</div>