<footer id="footer">
	<div class="container">
		<div class="line-height-2 center">
			<a href="/master/login">
				<img src="./favicon.ico" alt="我的图标">
			</a>
			本科生毕业设计及文件管理系统&copy;cm
		</div>
	</div>
</footer>