<nav id="nav">
	<nav id="nav-container">
		<ul class="nav-tip">
			<h3>流程管理</h3>
			<li 
				<% if(nav_active == 1) { %>
					 class="nav-active"
				<% } %>
			 >
				<a href="javascript:void(0);"><span class="glyphicon"></span>申报课题</a>
			</li>
			<li
				<%  if(nav_active == 1) { %>
					 class="nav-active"
				<% } %>
			>
				<a href="/choose"><span class="glyphicon"></span>学生选题</a>
			</li>
			<li
				<%  if(nav_active == 2) { %>
					 class="nav-active"
				<% } %>
			>
				<a href="/task"><span class="glyphicon"></span>任务书</a>
			</li>
			<li
				<%  if(nav_active == 3) { %>
					 class="nav-active"
				<% } %>
			>
				<a href="/open"><span class="glyphicon"></span>开题报告</a>
			</li>
			<li
				<%  if(nav_active == 4) { %>
					 class="nav-active"
				<% } %>
			>
				<a href="/translate"><span class="glyphicon"></span>外文翻译</a>
			</li>
			<li 
				<%  if(nav_active == 5) { %>
					 class="nav-active"
				<% } %>
			>
				<a href="/middle"><span class="glyphicon"></span>中期检查</a>
			</li>
			<li
				<%  if(nav_active == 6) { %>
					 class="nav-active"
				<% } %>
			>
				<a href="/draft"><span class="glyphicon"></span>论文草稿</a>
			</li>
			<li
				<%  if(nav_active == 7) { %>
					 class="nav-active"
				<% } %>
			>
				<a href="/paper"><span class="glyphicon"></span>论文定稿</a>
			</li>
			<li
				<%  if(nav_active == 17) { %>
					 class="nav-active"
				<% } %>
			>
				<a href="/appraise"><span class="glyphicon"></span>查看评审信息</a>
			</li>
			<li
				<%  if(nav_active == 8) { %>
					 class="nav-active"
				<% } %>
			>
				<a href="/reply"><span class="glyphicon"></span>查看答辩信息</a>
			</li>
			<li
				<%  if(nav_active == 11) { %>
					 class="nav-active"
				<% } %>
			>
				<a href="/score/comments_detail"><span class="glyphicon"></span>教师评价</a>
			</li>
			<li
				<%  if(nav_active == 10) { %>
					 class="nav-active"
				<% } %>
			>
				<a href="/score/grades"><span class="glyphicon"></span>查看总评成绩</a>
			</li>

			<li
				<%  if(nav_active == 14) { %>
					 class="nav-active"
				<% } %>
			>
				<a href="javascript:void(0);"><span class="glyphicon"></span>校外毕业设计申请书</a>
			</li>
			<li
				<%  if(nav_active == 15) { %>
					 class="nav-active"
				<% } %>
			>
				<a href="javascript:void(0);"><span class="glyphicon"></span>表格材料打印</a>
			</li>
		</ul>
		<ul class="nav-tip">
			<h3>特殊情况处理</h3>
			<li
				<%  if(nav_active == 20) { %>
					 class="nav-active"
				<% } %>
			>
				<a href="javascript:void(0);"><span class="glyphicon"></span>开题报告修改申请</a>
			</li>
			<li
				<%  if(nav_active == 21) { %>
					 class="nav-active"
				<% } %>
			>
				<a href="javascript:void(0);"><span class="glyphicon"></span>论文定稿修改</a>
			</li>
		</ul>
		<ul class="nav-tip">
			<h3>账号管理</h3>
			<li
				<%  if(nav_active == 31) { %>
					 class="nav-active"
				<% } %>
			>
				<a href="/password"><span class="glyphicon"></span>修改密码</a>
			</li>
			<li
				<%  if(nav_active == 32) { %>
					 class="nav-active"
				<% } %>
			>
				<a href="/link"><span class="glyphicon"></span>个人信息</a>
			</li>	
			<li
				<%  if(nav_active == 33) { %>
					 class="nav-active"
				<% } %>
			>
				<a href="/link_teacher"><span class="glyphicon"></span>导师联系方式</a>
			</li>
		</ul>
		<ul class="nav-tip">
			<h3>交流互动</h3>
			<li
				<%  if(nav_active == 40) { %>
					 class="nav-active"
				<% } %>
			>
				<a href="/w_message"><span class="glyphicon"></span>写信</a>
			</li>
			<li
				<%  if(nav_active == 41) { %>
					 class="nav-active"
				<% } %>
			>
				<a href="/message"><span class="glyphicon"></span>收件箱</a>
			</li>
			<li
				<%  if(nav_active == 42) { %>
					 class="nav-active"
				<% } %>
			>
				<a href="/s_message"><span class="glyphicon"></span>发件箱</a>
			</li>
		</ul>
	</nav>
	
</nav>