<nav id="nav">
	<ul class="nav-tip">
		<h3>流程管理</h3>
		<li 
			<% if(nav_active == 1) { %>
				 class="nav-active"
			<% } %>
		 >
			<span class="glyphicon"></span>
			<a href="/tutor/publish">发布课题</a>
		</li>
		<li
			<%  if(nav_active == 1) { %>
				 class="nav-active"
			<% } %>
		>
			<span class="glyphicon"></span>
			<a href="/tutor">查看课题进度</a>
		</li>
		<li
			<%  if(nav_active == 9) { %>
				 class="nav-active"
			<% } %>
		>
			<span class="glyphicon"></span>
			<a href="/tutor">查看教师评价</a>
		</li>
		<li
			<%  if(nav_active == 8) { %>
				 class="nav-active"
			<% } %>
		>
			<span class="glyphicon"></span>
			<a href="/reply">查看答辩信息</a>
		</li>
		
		<li
			<%  if(nav_active == 11) { %>
				 class="nav-active"
			<% } %>
		>
			<span class="glyphicon"></span>
			<a href="javascript:void(0);">表格材料打印</a>
		</li>
	</ul>
	
	<ul class="nav-tip">
		<h3>账号管理</h3>
		<li
			<%  if(nav_active == 14) { %>
				 class="nav-active"
			<% } %>
		>
			<span class="glyphicon"></span>
			<a href="javascript:void(0);">修改密码</a>
		</li>
		<li
			<%  if(nav_active == 15) { %>
				 class="nav-active"
			<% } %>
		>
			<span class="glyphicon"></span>
			<a href="javascript:void(0);">个人信息</a>
		</li>
	</ul>
	<ul class="nav-tip">
		<h3>交流互动</h3>
		<li
			<%  if(nav_active == 16) { %>
				 class="nav-active"
			<% } %>
		>
			<span class="glyphicon"></span>
			<a href="javascript:void(0);">收件箱</a>
		</li>
		<li
			<%  if(nav_active == 17) { %>
				 class="nav-active"
			<% } %>
		>
			<span class="glyphicon"></span>
			<a href="javascript:void(0);">发件箱</a>
		</li>
	</ul>
</nav>